{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <h1 class="text-center">Sistema de Cliente e Tarefas</h1>
            <div class="text-center">
            </div>
        </div>
    </div>
{% endblock %}